@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mainColor: #FBF6F6;
    --secondaryColor : #F5E4E4;
    --thirdColor : #DADADA;
    --buttonsColor : #EB3A3A;
    --basicColor : white;
    --basicColor2: black;
    --linkcolor : rgb(46, 46, 253);
    --basicColor3 : gray;
    --submitColor : #EBB33A;
    --borderColor : gray;
    --bodyColor : white;
}
body {
    font-family: "instrument sans";
    margin: 0;
    padding: 0;
    background-color: var(--bodyColor);
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    height: 80px;
}
.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dark-button {
    width: 25px;
    height: 25px;
    padding: 3px;
    cursor: pointer;
}
.right-side img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.right-side ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}
.right-side li {
    list-style: none;
    color: var(--basicColor2);
}
.right-side a {
    text-decoration: none;
}
.right-side a:hover{
    transform: scale(1.2);
}

#logo {
    margin-left: 30px;
}

.search-bar {
    height: 27px;
    border: 1px solid var(--borderColor);
    border-radius: 0 4px 4px 0;
}
.search-section {
    display: flex;
    align-items: center;
}
.search-section svg {
    width: 21px;
    height: 21px;
    border: 1px solid var(--borderColor);
    border-right: 0;
    padding: 4px;
    border-radius: 4px 0 0 4px;
}

.movie-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    row-gap: 40px;
    background-color: var(--mainColor);
    padding: 100px 0;
}
.rating {
    display: flex;
    column-gap: 5px;
}
.rating p {
    font-size: 14px;
    color: var(--basicColor2);
}
.rating img {
    width: 20px;
}
.movie h3 {
    text-align: center;
    margin-top: 5px;
    color: var(--basicColor2);
}
#movie-banner {
    height: 300px;
    border-radius: 4px;
}
.movie {
    line-height: 7px;
    height: fit-content;
    width: fit-content;
    background-color: var(--secondaryColor);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0.8px gray;
    position: relative;
    cursor: pointer;
}
.footer {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: var(--thirdColor);
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.footer ul {
    border-top: 1px solid;
    list-style: none;
    line-height: 25px;
    color: var(--basicColor2);
}
#copyright {
    color: var(--basicColor2);
}
#Likecount {
    color: var(--basicColor2);
}
.slider{
    margin: auto;
    overflow: hidden;
    width: 80vw;
}
.slider input {
    display: none;
}
.slider-section {
    display: flex;
    width: 500%;
    height: 600px;
    transition: all 1s ease;
}
.slider-section img {
    width: 100%;
    object-fit: contain;
}
.slider .check1:checked ~ .slider-section {
    margin-left: 0;
}

.slider .check2:checked ~ .slider-section {
    margin-left: -100%;
}

.slider .check3:checked ~ .slider-section {
    margin-left: -200%;
}

.slider .check4:checked ~ .slider-section {
    margin-left: -300%;
}

.slider .check5:checked ~ .slider-section {
    margin-left: -400%;
}

.buttons {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    height: 600px;
}
.buttons button {
    font-size: 75px;
    border: none;
    height: fit-content;
    padding-bottom: 8px;
    width: 50px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #F5E4E4;
    color: var(--basicColor);
}

.hovered-text {
    background-color: rgba(188, 188, 188, 0.562);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.15s ease;
}
.hovered-text img {
    margin-top: 15px;
    height: 25px;
}
.details-button {
    border: none;
    padding: 8px 25px;
    border-radius: 3px;
    background-color: var(--buttonsColor);
    color: var(--basicColor);
    font-weight: 460;
    font-family: "instrument sans";
    cursor: pointer;
}
.hovered-text h4 {
    color: var(--basicColor);
}
.movie:hover .hovered-text {
    opacity: 1;
}
.movie:hover {
    transform: scale(1.1);
}
.movie-presentation {
    background-color: var(--mainColor);
    margin: 0;
    padding-bottom: 15px;
}
.movie-presentation .movie-title {
    margin: 0;
    text-align: center;
    font-size: 32px;
    color: var(--basicColor2);
}
.image-video {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    margin-top: 25px;
}
.image-video img {
    width: 370px;
    height: 470px;
    object-fit: contain;
}
.genre .type {
    height: 40px;
    width: 110px;
    border: 1px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.movie-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genre {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 660px;
}
.genre .type {
    cursor: pointer;
}
.movie-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondaryColor);
    padding-bottom: 30px;
}
.description p{
    font-weight: 600;
    color: var(--basicColor3);
}
.description {
    border-right: 1px solid gray;
    margin-left: 20px;
    line-height: 30px;
    padding-top: 50px;
}
.description span {
    font-weight: bolder;
    color: var(--basicColor2);
}
.description .person {
    color: var(--linkcolor);
    cursor: pointer;
}
.interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interaction .like svg {
    width: 20px;
    height: 20px;
}
.interaction .like {
    display: flex;
    width: 40px;
    justify-content: space-between;
    align-items: center;
}
.interaction .user-text {
    padding-bottom: 90px;
    width: 300px;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    padding-left: 5px;
}
.rate-button svg {
    height: 30px;
    cursor: pointer;
}
.toggle:checked ~ .movie-details .rate-button .help svg path{
    fill: gold;
    transform: scale(1.1);
    transition: all 0.15s ease;
}

.toggle1:checked ~ .movie-details .rate-button .test svg path ,
.toggle1:checked ~ .movie-details .rate-button .help svg path{
    fill: gold;
    transform: scale(1.1);
    transition: all 0.15s ease;
}
.toggle2:checked ~ .movie-details .rate-button .test2 svg path,
.toggle2:checked ~ .movie-details .rate-button .test svg path ,
.toggle2:checked ~ .movie-details .rate-button .help svg path{
    fill: gold;
    transform: scale(1.1);
    transition: all 0.15s ease;
}
.toggle3:checked ~ .movie-details .rate-button .test3 svg path,
.toggle3:checked ~ .movie-details .rate-button .test2 svg path,
.toggle3:checked ~ .movie-details .rate-button .test svg path ,
.toggle3:checked ~ .movie-details .rate-button .help svg path{
    fill: gold;
    transform: scale(1.1);
    transition: all 0.15s ease;
}
.toggle4:checked ~ .movie-details .rate-button .test4 svg path,
.toggle4:checked ~ .movie-details .rate-button .test3 svg path,
.toggle4:checked ~ .movie-details .rate-button .test2 svg path,
.toggle4:checked ~ .movie-details .rate-button .test svg path ,
.toggle4:checked ~ .movie-details .rate-button .help svg path{
    fill: gold;
    transform: scale(1.1);
    transition: all 0.15s ease;
}
input[type = "radio"] {
    display: none;
}
.rate-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.submit-button {
    margin-left: 10px;
    background-color: var(--submitColor);
    border: none;
    width: 100px;
    font-size: 14px;
    padding: 10px 0px;
    border-radius: 2px;
    font-weight: 500;
    font-family: "instrument sans";
    cursor: pointer;
}
.add-button {
    background-color: var(--buttonsColor);
    border: none;
    padding: 15px 70px;
    margin-top: 40px;
    color: var(--basicColor);
    font-family: "instrument sans";
    font-size: 17px;
    cursor: pointer;
}

.sun-light {
    width: 25px;
    height: 25px;
    display: none;
}

#dark {
    display: none;
}

.favorites {
    height: 100vh;
}
.heart {
    width: 30px;
    height: 34px;
}


.comment-send {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.comment-section {
    height: fit-content;
    background-color: var(--mainColor);
    display: grid;
    place-items: center;
    row-gap: 10px;
}
.comment-section h1 {
    color: var(--basicColor2);
}
.comment-here {
    background-color: rgb(235, 230, 230);
    width: 300px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
}

.image-video video {
    width: 600px;
}

@media (max-width: 1024px){
    .movie-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .slider-section img{
        width: 20%;
    }
}

@media (max-width: 768px){
    .movie-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .slider-section img{
        width: 20%;
    }
    .image-video video {
        width: 400px;
    }
}

@media (max-width: 426px){
    .movie-section{
        grid-template-columns: 1fr;
    }
    .slider-section img{
        width: 20%;
    }
    .header {
        flex-direction: column;
    }
    .image-video {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .genre{
        width: 100%;
    }
    .movie-details{
        grid-template-columns: 1fr;
    }
    .description {
        border: none;
    }
    
}

@media (max-width: 376px){
    .right-side {
        width: 100%;
    }
    .image-video video {
        width: 300px;
    }
}
